<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colourProject.mapper.UserMapper">

    <select id="findAll" resultMap="List">
        SELECT * FROM Users
    </select>

<!--    <insert id="insert" useGeneratedKeys="true" keyProperty="com.colourProject.model.User">-->
    <insert id="insert">
        INSERT INTO Users (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

</mapper>